@page "/Music"

<h3>My Favorite Music</h3>

<p>Enjoy listening to your favorite music directly from Spotify:</p>

<div class="spotify-container">
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/6gwlTtoq5as2ry8a4dDcYI?utm_source=generator"
            height="352"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
    </iframe>
</div>

<div class="spotify-container">
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/album/6IwhtakrIJVU2PXehG4Osb?utm_source=generator"
            height="352"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
    </iframe>
</div>

<div class="spotify-container">
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/0l0a4uSRYz0VWnt38VAEzR?utm_source=generator"
            height="352"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
    </iframe>
</div>

<div class="spotify-container">
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/episode/3eGtJg741mT8h4Gzqw7k6G?utm_source=generator"
            height="352"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
    </iframe>
</div>

