@page "/Video"

<h3>Favorite Movie</h3>
<iframe width="451" height="315" src="https://www.youtube.com/embed/hBPvKna1Adw?si=16wiogoFdBLfqsJA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/X204LCQLSUk?si=jeLStFAlpeHaRfdN"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/iCXOLyvGJcc?si=0d7UyuPpi_qVoYKF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>


<iframe width="451" height="315" src="https://www.youtube.com/embed/HtCBMMMwoIU?si=0GyihVwolKddbF79"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>



<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/NGjpmFPU530?si=GeMKWt7aBmPCrb8C"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
